<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Availability</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Book Availability</h1>
    <ul>
        <li><a href="{{ url_for('available_books') }}">Currently Available Books</a></li>
        <li><a href="{{ url_for('borrowed_books') }}">Currently Borrowed Books</a></li>
    </ul>
    <br>
    <a href="/">Back to Main Menu</a>
</body>
</html>
